body {
    font-family: 'Lato', sans-serif;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

th {
    text-align: left;
}

table {
    width: 100%;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
}

.span-1-of-4 {
    width: 25%;
    float: left;
}

.btn {
    margin: 5px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    box-shadow: none;
}

.btn-primary {
    background-color: #007BFF;
    color: white;
}

.btn-warning {
    background-color: darkgoldenrod;
    color: white;
}

.btn-success {
    background-color: #53A451;
    color: white;
}

.btn-danger {
    background-color: #CC444A;
    color: white;
}

.btn-transition {
    transition: width 500ms ease;
    width: 50%;
    transition: background-color 100ms linear;
}

.canvas {
    transition: all 500ms ease;
}

.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}


.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

input[type=text], input[type=number], select {
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid grey;
    padding: 5px;
    margin: 5px;
}

label{
    padding-top: 7px;
    float: left;
    clear: left;
    width: 10%;
}
input, select {
  float: left;
}

p.clear {
    clear: both;
}

.mt-3 {
    margin-top: 30px;
}

.hidden {
    visibility: hidden;
    display: none;
}

.error {
    background-color: #F8D7DA;
    border: solid 1px #F5C6CB;
    padding: 10px;
    color: #721C24;
    border-radius: 5px;
}

.dead {
    color: red;
    text-decoration: line-through;
}


.flash {
    animation-name: flash;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
 }
 
 @keyframes flash {
     from {color: red;}
     to {color: black;}
 }

.overlay {
    width: 50%;
    height:50%;
    border: 1px solid Black;
    text-align: Center;
    position: fixed;
    top: 25%;
    left: 25%;
    background-color:lightgrey;
    box-shadow: #c9c9c9;
}

.rainbow {
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet); /* Standard syntax (must be last) */
}

.party {
    padding: 0;
    margin: 0;
}

.text-centered {
    text-align: center;
}

#game-section {
    margin: 0 auto;
}

.media-wrapper {
    width: 75%;
    margin: 0 auto;
}
    

.box-wrapper {
    opacity: 0;
    -webkit-transition: opacity 1000ms linear;
    transition: opacity 1000ms linear;

    animation: bounce 0.5s;
    animation-iteration-count: infinite;
}


.box-wrapper:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s; 
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite; 
}

.box-winner {
    animation: expload 1s;
    animation-iteration-count: 1;
}
  /* from W3 schools */
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
  /* END from W3 schools */
  @keyframes bounce {
      0% { transform: translate(0px, 0px); }
      5% { transform: translate(0px, 2px); }
      10% { transform: translate(0px, 4px); }
      15% { transform: translate(0px, 6px); }
      20% { transform: translate(0px, 8px); }
      25% { transform: translate(0px, 10px); }
      30% { transform: translate(0px, 12px); }
      35% { transform: translate(0px, 14px); }
      40% { transform: translate(0px, 16px); }
      45% { transform: translate(0px, 18px); }
      50% { transform: translate(0px, 20px); }
      55% { transform: translate(0px, 18px); }
      60% { transform: translate(0px, 16px); }
      65% { transform: translate(0px, 14px); }
      70% { transform: translate(0px, 12px); }
      75% { transform: translate(0px, 10px); }
      80% { transform: translate(0px, 8px); }
      85% { transform: translate(0px, 6px); }
      90% { transform: translate(0px, 4px); }
      95% { transform: translate(0px, 2px); }
      100% { transform: translate(0px, 0px); }
  }

  @keyframes expload {
    0% { opacity: 1; transform: scale(1); }
    5% { opacity: .95; transform: scale(1.05); }
    10% { opacity: .9; transform: scale(1.1); }
    15% { opacity: .85; transform: scale(1.15); }
    20% { opacity: .8; transform: scale(1.2); }
    25% { opacity: .75; transform: scale(1.25); }
    30% { opacity: .7; transform: scale(1.3); }
    35% { opacity: .65; transform: scale(1.35); }
    40% { opacity: .6; transform: scale(1.4); }
    45% { opacity: .55; transform: scale(1.45); }
    50% { opacity: .5; transform: scale(1.5); }
    55% { opacity: .45; transform: scale(1,55); }
    60% { opacity: .4; transform: scale(1.65); }
    65% { opacity: .35; transform: scale(1.6); }
    70% { opacity: .3; transform: scale(1.65); }
    75% { opacity: .25; transform: scale(1.7); }
    80% { opacity: .2; transform: scale(1.75); }
    85% { opacity: .15; transform: scale(1.8); }
    90% { opacity: .1; transform: scale(1.85); }
    95% { opacity: .05; transform: scale(1.9); }
    100% { opacity: 0; transform: scale(1.95); }
  }












