body {
    font-family: 'Lato', sans-serif;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

th {
    text-align: left;
}

table {
    width: 100%;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
}

.btn {
    margin: 5px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    box-shadow: none;
}

.btn-primary {
    background-color: #007BFF;
    color: white;
}

input[type=text], select {
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid grey;
    padding: 5px;
    margin: 5px;
}

label{
    padding-top: 7px;
    display: inline-block;
    float: left;
    clear: left;
    width: 10%;
}
input, select {
  display: inline-block;
  float: left;
}

p.clear {
    clear: both;
}

.mt-3 {
    margin-top: 30px;
}

.hidden {
    visibility: hidden;
    display: none;
}

.error {
    background-color: #F8D7DA;
    border: solid 1px #F5C6CB;
    padding: 10px;
    color: #721C24;
    border-radius: 5px;
}

.dead {
    color: red;
    text-decoration: line-through;
}


.flash {
    animation-name: flash;
     animation-duration: 0.2s;
     animation-timing-function: linear;
     animation-iteration-count: infinite;
     animation-direction: alternate;
     animation-play-state: running;
 }
 
 @keyframes flash {
     from {color: red;}
     to {color: black;}
 }

.overlay {
    width: 50%;
    height:50%;
    border: 1px solid Black;
    text-align: Center;
    position: fixed;
    top: 25%;
    left: 25%;
    background-color:lightgrey;
    box-shadow: #c9c9c9;
}

.rainbow {
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet); /* Standard syntax (must be last) */
}

.party {
    padding: 0;
    margin: 0;
}













