# Ignore node modules folder in cs313/proj2
CS313/projTwo/backend/node_modules
# Ignore node modules folder in cs313/proj2
CS313/projTwo/angularClient/tracksimple/node_modules
# ignore all ds store files
.DS_Store