<% include ../../partials/header %>
<section class="container">
    <div class="row">
        <div class="col-12">
            <h3>Complete Equation:</h3>
            <h4><%= lhs %> <%= operator %> <%= rhs %> = <%= total %>  </h4>
        </div>
    </div>
</section>
<% include ../../partials/footer %>